venv/
*.pyc
__pycache__/
db.sqlite3
static/admin/
*.log
*.swp
*.swo
*.idea/
*.vscode/
media/
home/.env
images/
audio/
bg/
failed_image_prompts.txt
image_prompts.txt
initial_text.txt
script.txt
sentences.txt
temp_uploads/
Video_Learning/
temp_fixed_audio.wav
final_video_no_audioTEMP_MPY_wvf_snd.mp4
InstructAI\.env
InstructAI/.env
*.env
notes_folder/
static_root/